#battle-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}

#top-left {
  border: 1px solid black;
  width: 50%;
  height: 50%;
}

#top-right {
  border: 1px solid black;
  width: 50%;
  height: 50%;
}

#bottom-left {
  border: 1px solid black;
  width: 50%;
  height: 50%;
}

#bottom-right {
  border: 1px solid black;
  width: 50%;
  height: 50%;
}

#description {
  border: 1px solid black;
  width: 100%;
  height: 30%;
}

#moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2% 1%;
  .move {
    border-radius: 8px;
    height: 35%;
    width: 45%;
    text-align: center;
    margin: auto 2%;
    padding: 12px 0;
    z-index: 1;
    .border {
      background: white;
      border: none;
      padding: 4px;
      p {
        margin-bottom: 10px;
      }
      .move-data {
        display: flex;
        justify-content: center;
        .type {
          margin-right: 8px;
        }
      }
    }
  }
  .move:hover {
    cursor: pointer;
  }
  .active {
    border: 3px solid #757c84;
    padding: 9px 0;
  }
}

.health-bar {
  display: flex;
  border: 1px solid black;
  width: 100px;
  height: 10px;
}

.health-gauge {
  background: green;
  height: 100%;
}

.red {
  background: red;
}

#execute {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
