.battle-container {
  border: 1px solid black;
  width: 600px;
  height: 700px;
  .top-half {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    .top-left {
      border: 1px solid black;
      width: 50%;
      height: 50%;
    }
    .top-right {
      border: 1px solid black;
      width: 50%;
      height: 50%;
      img {
        width: 68%;
        height: 100%;
      }
    }
    .bottom-left {
      border: 1px solid black;
      width: 50%;
      height: 50%;
      img {
        width: 68%;
        height: 100%;
      }
    }
    .bottom-right {
      border: 1px solid black;
      width: 50%;
      height: 50%;
    }
  }
  .bottom-half {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    .description {
      border: 1px solid black;
      border-radius: 8px;
      width: 100%;
      height: 100px;
    }
    .moves {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 100px;
      .move {
        border-radius: 8px;
        height: 90%;
        width: 48%;
        margin: 4px;
        padding: 12px 0;
        text-align: center;
        .border {
          background: white;
          border: none;
          p {
            margin: 4px;
          }
          .move-data {
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            .type {
              margin-right: 16px;
            }
          }
        }
      }
      .move:hover {
        cursor: pointer;
      }
      .active {
        border: 4px solid #757c84;
        padding: 8px 0;
      }
    }
  }
}

.health-bar {
  display: flex;
  border: 1px solid black;
  width: 200px;
  height: 10px;
}

.health-gauge {
  background: green;
  height: 100%;
}

.red {
  background: red;
}

#execute {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
