.battle-container {
  border: 1px solid black;
  width: 600px;
  height: 700px;
  .top-half {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    .top-left {
      border: 1px solid black;
      width: 50%;
      height: 50%;
    }
    .top-right {
      border: 1px solid black;
      width: 50%;
      height: 50%;
      img {
        width: 70%;
        height: 100%;
      }
    }
    .bottom-left {
      border: 1px solid black;
      width: 50%;
      height: 50%;
      img {
        width: 70%;
        height: 100%;
      }
    }
    .bottom-right {
      border: 1px solid black;
      width: 50%;
      height: 50%;
    }
  }
  .bottom-half {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    .description {
      width: 100%;
      height: 100px;
    }
    .moves {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100px;
      .move {
        border: 1px solid black;
        border-radius: 8px;
        height: 100px;
        width: 50%;
        padding: 16px 0;
        text-align: center;
        .move-data {
          display: flex;
          justify-content: center;
          .type {
            margin-right: 16px;
          }
        }
      }
      .active {
        background: beige;
      }
    }
  }
}

.health-bar {
  display: flex;
  border: 1px solid black;
  width: 200px;
  height: 10px;
}

.health-gauge {
  background: green;
  width: 2.5%;
  height: 100%;
}

.red {
  background: red;
}

#execute {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
