.gray {
  background: rgba(240, 240, 240, 1.0);
}

.shade-gray {
  background: rgba(90, 90, 90, 1.0);
}

.dark-gray {
  background: rgba(80, 80, 80, 1.0);
}

.white {
  background: rgba(255, 255, 255, 1.0);
}

.orange {
  background: rgba(255, 60, 0, 1.0)
}
