.navbar {
  justify-content: space-between;
  background: #15243ed9;
  color: white;
  a {
    color: #c1cee6;
  }
  a:hover {
    color: white;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
