.typing {
  display: flex;
}

.type {
  text-align: center;
  border-radius: 16px;
  width: 50px;
  padding: 2px 4px 2px 4px;
  margin: 4px 2px 4px 2px;
  font-size: 10px;
  color: white;
}

.Normal {
  background: #A8A878;
}

.Fire {
  background: #F08030;
}

.Fighting {
  background: #C03028;
}

.Water {
  background: #6890F0;
}

.Flying {
  background: #A890F0;
}

.Grass {
  background: #78C850;
}

.Poison {
  background: #A040A0;
}

.Electric {
  background: #F8D030;
}

.Ground {
  background: #E0C068;
}

.Psychic {
  background: #F85888;
}

.Rock {
  background: #B8A038;
}

.Ice {
  background: #98D8D8;
}

.Bug {
  background: #A8B820;
}

.Dragon {
  background: #7038F8;
}

.Ghost {
  background: #705898;
}

.Dark {
  background: #705848;
}

.Steel {
  background: #8C888C;
}

.Fairy {
  background: #EE99AC;
}
