<div>
  <h4><%= @pokemon.name %></h4>
  <p>#<%= @pokemon.number %></p>
  <img src="<%= @pokemon.image %>" alt="Pokemon Image">
  <ul>Moves
    <% @moves.each do |pokemon_move| %>
      <li><%= pokemon_move.move.name %></li>
    <% end %>
  </ul>
</div>

